@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Section */
:root {
  --main-color: #343434;
  --secondary-color: #999999;
  --paragraph-color: #748182;
  --dark-color: #000;
  --white-color: #fff;
  --Montserrat-font: "Montserrat", sans-serif;
  --Poppins-font: "Poppins", sans-serif;
  --bg-color: #f7f7f7;
  --bg-card: #5b5b5b;
  --bg-card-layer: #fffffff2;
  --btn-color: #1c1c1c;
  --footer-color: #748182;
  --main-transition: 0.5s;
}

html {
  scroll-padding-top: 3.125rem;
}

*::selection {
  color: var(--white-color);
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-color);
  border-radius: 100vh;
  box-shadow: 0rem 0rem .625rem 0rem #eeeeee8c inset;
}

section:not([id="home"]) {
  padding-block: 6.25rem 4.375rem;
}

.title h2 {
  width: fit-content;
  color: var(--main-color);
  font-family: var(--Montserrat-font);
  font-size: 2.4rem !important;
  font-weight: 900 !important;
  margin: 0rem auto 4.6875rem;
}

.title h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: .625rem;
  left: 0;
  top: 100%;
  background-image: url(../images/dots.png);
  background-repeat: repeat;
}

/* Navbar Section */
.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  transition: all var(--main-transition);
  padding-block: 1.0625rem;
}

.navbar .container .navbar-brand {
  font-size: 1.125rem;
  font-family: var(--Montserrat-font);
  font-weight: 800;
  color: var(--white-color);
  transition: all var(--main-transition);
  letter-spacing: .0625rem;
}

.navbar .container .navbar-toggler i {
  color: var(--white-color);
}

.navbar .container ul li {
  margin-inline: .75rem;
}

.navbar .container ul li a {
  font-size: .875rem;
  font-family: var(--Poppins-font);
  color: var(--white-color);
  transition: all var(--main-transition);
}

.navbar .container .navbar-nav .nav-link.active {
  color: var(--white-color);
  font-weight: 500;
  transition: all var(--main-transition);
}

.navbar .container .navbar-nav .nav-link.active::after {
  width: calc(100% - 1rem);
}

.navbar .container .navbar-nav .nav-link {
  position: relative;
  overflow: hidden;
}

.navbar .container .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0rem;
  height: .125rem;
  background-color: var(--white-color);
  left: .5rem;
  right: 0;
  bottom: .1875rem;
  transition: all var(--main-transition);
}

.navbar-scrolled {
  background-color: var(--white-color);
  box-shadow: 0rem 0rem .4375rem rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
  padding: .625rem;
  .container .navbar-brand,
  .container ul li a,
  .container .navbar-nav .nav-link.active {
    color: var(--dark-color);
  }
  .container .navbar-nav .nav-link::after {
    background-color: var(--dark-color);
  }
  .container .navbar-toggler i {
    color: var(--dark-color);
  }
}

/* Home Section */
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/bg.jpg) center / cover;
}

#home h1 {
  font-size: 3.125rem;
  font-family: var(--Montserrat-font);
  font-weight: 800;
}

#home p {
  font-weight: 200;
  font-size: 3.75rem;
  line-height: 6.375rem;
  font-family: var(--Montserrat-font);
}

#home p span {
  color: var(--white-color);
  font-weight: 400;
  font-size: inherit;
  font-family: var(--Montserrat-font);
}

#home ul li {
  width: 2.1875rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}

#home ul li i {
  font-size: .875rem;
}

/* About Section */
#about .image {
  margin-bottom: 1.875rem;
  padding: 0rem 0rem 0rem 1.875rem;
}

#about .image::after {
  content: "";
  background-image: url(../images/dots.png);
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0%;
  bottom: -1.875rem;
  z-index: -1;
}

#about .caption {
  margin-bottom: 1.875rem;
}

#about .caption header h2 {
  color: var(--main-color);
  font-family: var(--Montserrat-font);
  font-weight: 800;
  font-size: 1.875rem;
  margin-bottom: .3125rem;
}

#about .caption header span {
  font-size: .875rem;
  font-family: var(--Poppins-font);
  margin-bottom: .5rem;
  display: inline-block;
  color: var(--secondary-color);
  font-weight: 400;
  letter-spacing: .125rem;
  margin-bottom: 1.25rem;
}

#about .caption p {
  font-family: var(--Poppins-font);
  color: var(--paragraph-color);
  font-size: .9375rem;
  line-height: 1.5rem;
}

#about .skills {
  margin-top: 1.875rem;
}

#about .skills .progress {
  height: 1.5625rem;
  box-shadow: 0rem .125rem .4375rem rgba(0, 0, 0, 0.15) inset;
}

#about .skills .progress .progress-bar {
  background-color: var(--dark-color);
}

#about .skills .progress .progress-bar h6 {
  font-size: .8125rem;
  font-family: var(--Montserrat-font);
}

#about .skills .progress .progress-bar span {
  font-size: .8125rem;
  font-family: var(--Montserrat-font);
}

#about .buttons {
  margin-top: 3.125rem;
}

#about .buttons .button {
  padding: .625rem 1.875rem;
  font-family: var(--Poppins-font);
  font-size: .8125rem;
}

#about .buttons .btn-one {
  background-color: var(--btn-color);
  color: var(--white-color);
  border: .0625rem solid var(--btn-color);
  transition: all var(--main-transition);
}

#about .buttons .btn-one:hover {
  background-color: var(--white-color);
  color: var(--btn-color);
}

#about .buttons .btn-two {
  color: var(--btn-colorr);
  background-color: var(--white-color);
  border: .0625rem solid var(--dark-color);
  transition: all var(--main-transition);
}

#about .buttons .btn-two:hover {
  background-color: var(--btn-color);
  color: var(--white-color);
}

/* Services Section */
#services {
  background-color: var(--bg-color);
}

#services .container .item {
  padding: 1.5rem 1rem;
  box-shadow: 0rem .625rem 1.875rem -0.5rem rgba(0, 0, 0, 0.1);
}

#services .container .item .icon {
  width: 5rem;
  height: 5rem;
  background-color: var(--bg-color);
  transition: all 0.5s;
}

#services .container .item .icon i {
  font-size: 1.5rem;
  transition: all 0.5s;
}

#services .container .item header h6 {
  margin-block: .9375rem;
  color: var(--main-color);
  font-family: var(--Montserrat-font);
  font-size: 1.125rem;
  font-weight: 800;
}

#services .container .item p {
  color: var(--paragraph-color);
  font-family: var(--Poppins-font);
  font-size: .875rem;
  line-height: 1.375rem;
  word-spacing: .125rem;
}

#services .container .item:hover .icon {
  background-color: var(--main-color);
}

#services .container .item:hover .icon i {
  color: var(--white-color);
}

/* Portfolio Section */
#portfolio .nav-pills .nav-link.active {
  background-color: transparent;
}

#portfolio .nav-pills .nav-link.active::after {
  content: "";
  position: absolute;
  width: calc(100% - 2rem);
  height: .125rem;
  background-color: var(--dark-color);
  left: 1rem;
  right: 0;
  bottom: .1875rem;
}

#portfolio .nav-link {
  color: black;
  font-family: var(--Poppins-font);
  transition: color 0.3s;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0;
  position: relative;
}

#portfolio .tab-content figure{
  margin: 0rem;
}

#portfolio .item {
  position: relative;
}

#portfolio .item .layer {
  opacity: 0;
  position: absolute;
  inset: .625rem .3125rem;
  row-gap: .9375rem;
  transition: all var(--main-transition);
  background-color: var(--white-color);
}

#portfolio .item .layer h6 {
  font-family: var(--Montserrat-font);
  font-size: .75rem;
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: .4375rem;
  transition: all var(--main-transition);
}

#portfolio .item .layer ul li {
  width: 1.75rem;
  height: 1.75rem;
  background-color: var(--main-color);
  border: .0625rem solid var(--dark-color);
  transition: all var(--main-transition);
}

#portfolio .item .layer ul li i {
  font-size: .8125rem;
  transition: all var(--main-transition);
  color: var(--white-color);
}

#portfolio .item .layer ul li:hover {
  background-color: var(--white-color);
}

#portfolio .item .layer ul li:hover i {
  color: var(--main-color);
}

#portfolio .item:hover .layer {
  opacity: 1;
  inset: .3125rem;
  row-gap: .625rem;
}

#portfolio .item:hover .layer h6 {
  margin: 0rem !important;
}

/* Testimonials Section */
#testimonials {
  background-color: var(--bg-color);
}

#testimonials .carousel-indicators [data-bs-target] {
  background-color: var(--secondary-color);
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  margin-inline: .3125rem;
}

#testimonials .container .carousel {
  width: 80%;
}

#testimonials .container .carousel .carousel-inner .carousel-item .caption {
  margin-bottom: 4.375rem;
}

#testimonials .container .carousel .carousel-inner .carousel-item .caption p {
  color: var(--paragraph-color);
  margin-block: .9375rem 1.875rem;
  font-family: var(--Poppins-font);
  font-size: .9375rem;
  line-height: 1.5rem;
}

#testimonials .container .carousel .carousel-inner .carousel-item .caption .h6 {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: .3125rem;
  font-family: var(--Montserrat-font);
}

#testimonials
  .container
  .carousel
  .carousel-inner
  .carousel-item
  .caption
  span {
  font-family: var(--Poppins-font);
  font-size: .75rem;
  color: var(--paragraph-color);
  font-weight: 600;
}

/* Count Section*/
#count .icon i {
  font-size: 1.875rem;
  color: var(--main-color);
}

#count span {
  font-family: var(--Montserrat-font);
  font-size: 1.875rem;
  color: var(--main-color);
  font-weight: 900;
  line-height: 2.0625rem;
  margin-block: .75rem;
  display: inline-block;
}

#count h4 {
  font-family: var(--Poppins-font);
  font-size: .9375rem;
  color: var(--paragraph-color);
  font-weight: 600;
  line-height: 1.5rem;
}

/* Team Section*/
#team {
  background-color: var(--bg-color);
}

#team .card {
  border-width: 0rem;
  border-radius: 0rem 0rem .625rem .625rem;
  background-color: var(--bg-card);
}

#team .card figure{
  margin: 0rem;
}

#team .card .img {
  position: relative;
}

#team .card .img img {
  transition: all var(--main-transition);
}

#team .card .img .layer {
  opacity: 0;
  position: absolute;
  inset: .3125rem;
  background-color: var(--bg-card-layer);
  transform: rotateY(180deg) scale(0.5, 0.5);
  transition: all var(--main-transition);
}

#team .card .img .layer ul li {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--dark-color);
  border: .0625rem solid var(--dark-color);
  border-radius: 50%;
  transition: all var(--main-transition);
}

#team .card .img .layer ul li a i {
  font-size: 1.25rem;
  color: var(--white-color);
  transition: all var(--main-transition);
}

#team .card .img .layer ul li:hover {
  background-color: var(--white-color);
}

#team .card .img .layer ul li:hover a i {
  color: var(--dark-color);
}

#team .card:hover .img img {
  transform: scale(1.2, 1.2);
}

#team .card:hover .img .layer {
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}

#team .card .card-body h4 {
  font-family: var(--Montserrat-font);
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 1.75rem;
}

#team .card .card-body h5 {
  font-family: var(--Montserrat-font);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.375rem;
}

/* Contact SECTION */
#contact .container .info {
  margin-bottom: 3.125rem;
}

#contact .container .info .item .icon {
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: all var(--main-transition);
}

#contact .container .info .item .icon i {
  font-size: 1.4375rem;
  color: var(--main-color);
  transition: all var(--main-transition);
}

#contact .container .info .item header h6 {
  font-size: 1rem;
  color: var(--main-color);
  font-weight: 700;
  font-family: var(--Montserrat-font);
  margin-block: .75rem;
}

#contact .container .info .item p {
  font-size: .9375rem;
  color: var(--paragraph-color);
  font-family: var(--Poppins-font);
}

#contact .container .info .item:hover .icon {
  background-color: var(--main-color);
}

#contact .container .info .item:hover .icon i {
  color: var(--white-color);
}

#contact .container .form form input,
#contact .container .form form textarea {
  width: 100%;
  border-radius: .3125rem;
  padding: .625rem;
  background-color: var(--bg-color);
  font-family: var(--Poppins-font);
  font-size: .875rem;
  color: var(--main-color);
}

#contact .container .form form textarea {
  height: 10rem;
}

#contact .container .form form .form-control:focus {
  box-shadow: 0 0 0 0;
}

#contact .container .form form button {
  padding: .625rem 2.5rem;
  background-color: var(--btn-color);
  border: .0625rem solid var(--btn-color);
  color: var(--white-color);
  font-size: .8125rem;
  font-family: var(--Poppins-font);
  transition: all var(--main-transition);
}

#contact .container .form form button:hover {
  background-color: var(--white-color);
  color: var(--btn-color);
}

footer {
  background-color: var(--btn-color);
  padding: 1.875rem;
}

footer p {
  color: var(--footer-color);
  font-family: var(--Poppins-font);
  font-size: .8125rem;
  margin: 0rem;
}
